/*---------This stuff is a template for the whole website---------*/
html{
    background: linear-gradient( #ccffff,  #ccffcc, #ffcccc, #ffccff);
}

header{
    color: rgb(225, 225, 225);
    text-align: center;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    background-color: rgb(56, 56, 255);
    padding-top: 10px;
    padding-bottom: 10px;
}

p{
    color: rgb(0, 0, 0);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}

h2{
    color:rgb(0, 0, 0);
}

footer{
    text-align: center;
}

/*---------These are id's to use---------*/
#page{
    margin: 30px;
}


/*---------These are specific class that can be called----------*/

/*This class creates a playing card with a cool background*/
.card{
    height: 300px;
    width: 200px;
    background-color: rgba(25, 148, 175, 0.61);
    margin: 20px;
    padding: 5px;
    border: 10px ridge rgb(218, 165, 32);
    box-shadow: 0 7px 15px 0 rgba(0,0,0,0.609);
    display: inline-block;
    border-radius: 10px;
    color: white;
}

#cloud.card{
    background-image: url("cloudsgif.webp");
}